$white: #ffffff;
$black: #000000;
$contour: #00384A;
$highlight: #4081F1;
$secondary: #F1F5FB;
$background:#F9F9F9 ;
$shadow:rgba(0, 56, 74, 0.13);
$text:rgba(0, 56, 74, 1);
$gray: #d1d1d1;
$inactive-text: #969696;


